{% extends "base.html" %}

{% block css %}
{% endblock %}


{% block js %}
{% endblock %}


{% block content %}
<table class="table">
    <thead class="thead-dark">
        <tr>
            <th scope="col-1">#</th>
            <th scope="col-3">Goal</th>
            <th scope="col-8">Desc</th>
        </tr>
    </thead>
    <tbody>
        {% for goal in profile["goals"]["L"] %}
        <tr>
            <th scope="row">{{loop.index}}</th>
            <td>
                <button type="button" class="btn btn-light btn-lg" onclick="location.href='/payment/{{profile['user']['S']}}/{{goal['M']['title']['S']}}'">
                    {{goal["M"]["title"]["S"]}}
                </button>
            </td>
            <td>{{goal["M"]["desc"]["S"]}}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}