{% extends "base.html" %}

{% block content %}
<div class="row">
    <div class="col">
        This is a test
    </div>
    <div class="col">
        <div class="progress">
            <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="100"
                aria-valuemin="0" aria-valuemax="100" style="width: 75%"></div>
        </div>
    </div>

    <div class="btn btn-group-vertical">
        <button type="button" class="btn btn-danger" style="border-radius: 20%">Donate to Me</button>
        <button type="button" class="btn btn-primary" style="border-radius: 20%">Mentor Me</button>
    </div>
</div>
{% endblock %}0