{% extends "base.html" %}

{% block css %}
<link rel="stylesheet" href="{{url_for('static',filename='css/grid.css')}}">
{% endblock %}

{% block content %}

<h2>People looking for support</h2>
<div class="container text-center">
    {% for profile in profiles %}
    <div class="row">
        <div class="col">
            <div class="card">
                <img class="card-img-top" src="{{url_for('static',filename=profile['picture']['S'])}}" width=0.5vw
                    alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">{{profile["user"]["S"] + " " + profile["lastName"]["S"]}}</h5>
                    <div class="text-center">
                        {{profile["location"]["S"]}}
                    </div>
                    <img class="icon" src="{{url_for('static',filename='icons/heart.svg')}}" width=14rem
                        alt="Sponsor Icon">
                    14 Sponsors
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}