{% extends "base.html" %}

{% block content %}
<!-- Page Content -->
<br>
<div class="text-center">
    <img src="{{url_for('static',filename=profile['picture']['S'])}}" style="width:25%;">

    <div class="container">
        <br>
        <h2 style="color: #27b4b8"><b>{{profile["user"]["S"] + " " + profile["lastName"]["S"]}}</b></h2>
        <h3 style="color: grey; "><b>Goals</b>
            <div id="profile_description">
                <h3>Description</h3>
                <p> {{profile["desc"]["S"]}}</p>
            </div>

            {% for goal in profile["goals"]["L"] %}
            <div id="goal">
                <b>{{goal["M"]["title"]["S"]</b>
            <div class="progress">
                    <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="{{goal['M']['totalMoney']['N']}}"
                    aria-valuemin="0" aria-valuemax="{{goal['M']['totalMoney']['N']}}" style="width: 75%"></div>
    </div>
    <p style="color: grey; font-size: 20px; ">
        {{goal["M"]["desc"]["S"]}}
    </p>
</div>
{% endfor %}

{% for coach in profile["coaching"]["L"] %}
<div class="coach">
    coach["S"]
</div>
{% endfor %}



<table class="table">
    <tbody>
        <tr>
            <td>
                Phone Number
            </td>
            <td style="color:red">
                {{request.user.patient.phone_number}}
            </td>
        </tr>
        <tr>
            <td>
                Address
            </td>
            <td style="color:red">
                {{request.user.patient.address}}
            </td>
        </tr>
        <tr>
            <td>
                Insurance NO
            </td>
            <td style="color:red">
                {{request.user.patient.insurance_number}}
            </td>
        </tr>
        <tr>
            <td>
                Medical Condition
            </td>
            <td style="color:red">
                {{request.user.patient.medical_condition}}
            </td>
        </tr>
        <tr>
            <td>
                Emergency Contact
            </td>
            <td style="color:red">
                {{request.user.patient.emergency_contact_first_name}}
                {{request.user.patient.emergency_contact_last_name}}
            </td>
        </tr>
        <tr>
            <td>
                Emergency Contact Phone Number
            </td>
            <td style="color:red">
                {{request.user.patient.emergency_contact_phone_number}}
            </td>
        </tr>
    </tbody>
</table>

</div>

</div>

{% endblock %}